---
export interface Meta {
  title: string;
  description: string;
  url: string;
  image: string;
  imageWidth?: number;
  imageHeight?: number;
  imageAlt?: string;
  type?: "website" | "article";
  canonicalUrl?: string;
}
export interface Props {
  meta: Meta;
}

const { meta } = Astro.props;

const canonicalUrl = meta.canonicalUrl ?? meta.url;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href={canonicalUrl} />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      data-domain="magichands.forestinthetree.com"
      src="https://plausible.io/js/script.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
    <title>{meta.title}</title>

    <meta property="og:site_name" content={meta.title} />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:url" content={meta.url} />
    <meta property="og:type" content={meta.type ?? "website"} />
    <meta property="og:image" content={meta.image} />
    {
      meta.imageWidth && (
        <meta property="og:image:width" content={meta.imageWidth.toString()} />
      )
    }
    {
      meta.imageHeight && (
        <meta property="og:image:width" content={meta.imageHeight.toString()} />
      )
    }
    {meta.imageAlt && <meta property="og:image:alt" content={meta.imageAlt} />}
  </head>
  <body>
    <slot />
  </body>
</html>
<style lang="scss" is:global>
  @use "../design-system";
  @use "@picocss/pico";
</style>
